<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/pages/gallery.css">
    <!-- Shared head component injected by main.js -->
  </head>
  <body data-page="gallery">
    <main>
      <div class="inner">
        inner
      </div>
    </main>
    <!-- Shared component -->
    <script type="module" src="/scripts/main.js"></script>
    <!-- Page-specific -->
    <script type="module" src="/scripts/pages/gallery.js"></script>
  </body>
</html>