<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/pages/post.css">
    <!-- Shared head component injected by main.js -->

    <script src="/libs/swiper/swiper-bundle.min.js"></script>
    <link rel="stylesheet" href="/libs/swiper/swiper-bundle.min.css">

    <script type="module" src="/scripts/components/media-overlay.js"></script>
    
    <link rel="stylesheet" href="/styles/components/media-thumbnail.css">
    <link rel="stylesheet" href="/styles/components/media-overlay.css">
  </head>
  <body data-page="post">
    <main>
      <div class="inner">
      </div>
    </main>
    <!-- Shared component -->
    <script type="module" src="/scripts/main.js"></script>
    <!-- Page-specific -->
    <script type="module" src="/scripts/pages/post.js"></script>
  </body>
</html>