<div class="post-loginwall">
  <div class="center">
    <span>You must be logged in to view this content.</span>
    <div class="post-loginwall-login-link-block d-block">
      <button class="post-loginwall-login-button">LOG IN</button>
    </div>
  </div>
</div>