<div class="media-thumbnail">
  <div class="media-thumbnail-hidden" class="vertical-center">
    <div class="media-thumbnail-hidden-icon">
      <% if (type && type != undefined && type != null) { %>
        <% if (type == 'image') { %>
    
      <svg 
            xmlns="http://www.w3.org/2000/svg" 
            viewBox="0 0 640 640" 
            width="1em" 
            height="1em" 
            fill="currentColor"
            aria-hidden="true"
            focusable="false"
            style="vertical-align: middle;"
          >
          <path d="M544 96L96 96L96 544L544 544L544 96zM224 176C250.5 176 272 197.5 272 224C272 250.5 250.5 272 224 272C197.5 272 176 250.5 176 224C176 197.5 197.5 176 224 176zM240 336L286.1 405.1L368 272L496 480L144 480L240 336z"/>
        </svg>

        <% } else if (type == 'video') { %>
    
      <svg 
            xmlns="http://www.w3.org/2000/svg" 
            viewBox="0 0 640 640" 
            width="1em" 
            height="1em" 
            fill="currentColor"
            aria-hidden="true"
            focusable="false"
            style="vertical-align: middle;"
          >
          <path d="M448 128L64 128L64 512L448 512L448 128zM608 480L608 160L496 234.7L496 405.4L608 480.1z"/>
        </svg>

        <% } %>
      <% } %>

    </div>

  </div>
</div>