<div id="nav">
  <div class="inner hidden">
    <div id="nav-pagegroups">
      <div id="nav-pagegroup-feed-gallery" class="nav-pagegroup hidden">
        <div class="nav-link nav-half-link" id="nav-link-feed">
          FEED
        </div>
        <div class="nav-link nav-half-link" id="nav-link-gallery">
          GALLERY
        </div>
      </div>
      <div id="nav-pagegroup-login-signup-post" class="nav-pagegroup hidden">
        <div class="nav-link" id="nav-link-back">
          <svg 
            xmlns="http://www.w3.org/2000/svg" 
            viewBox="0 0 640 640" 
            width="1em" 
            height="1em" 
            fill="currentColor"
            aria-hidden="true"
            focusable="false"
            style="vertical-align: middle;"
            >
            <path d="M73.6 297.4L51 320L73.6 342.6L233.6 502.6L256.2 525.2L301.5 479.9C300.2 478.6 257.5 435.9 173.5 351.9L576.2 351.9L576.2 287.9L173.5 287.9C257.5 203.9 300.2 161.2 301.5 159.9L256.2 114.6L233.6 137.2L73.6 297.2z"/>
          </svg>
        </div>
      </div>
    </div>
  </div>
</div>